<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <h4>Primary Criteria</h4>
      <%= f.label :query %>
      <%= f.text_area :query, class: "radius" %>
    </div>
    <div class="field">
    <h4>Object Rules to Follow</h4>
    <%= f.select :object_rule_ids, ObjectRule.all.collect {|x| [x.extract_object + ' to ' + x.load_object, x.id]}, {}, :multiple => true, class: "radius" %>
    </div>
    <div class="text-right">
      <%= f.submit "Save", class: "button radius"%>
    </div>
<% end %>
