<%= form_for([@etl_object_rule, @etl_field_rule]) do |f| %>
  <% if @etl_field_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etl_field_rule.errors.count, "error") %> prohibited this etl_field_rule from being saved:</h2>
      <ul>
      <% @etl_field_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :extract_field %><br>
    <%= f.text_field :extract_field %>
  </div>
  <div class="field">
    <%= f.label :transformation %><br>
    <%= f.text_area :transformation %>
  </div>
  <div class="field">
    <%= f.label :load_field %><br>
    <%= f.text_field :load_field %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :is_primary %><br>
    <%= f.check_box :is_primary %>
  </div>
  <div class="field">
    <%= f.label :is_foreign_key %><br>
    <%= f.check_box :is_foreign_key %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
