<p>
  <strong>Extract field:</strong>
  <%= @etl_field_rule.extract_field %>
</p>

<p>
  <strong>Transformation:</strong>
  <%= @etl_field_rule.transformation %>
</p>

<p>
  <strong>Load field:</strong>
  <%= @etl_field_rule.load_field %>
</p>

<p>
  <strong>Active:</strong>
  <%= @etl_field_rule.active %>
</p>
<p>
  <strong>Is Primary:</strong>
  <%= @etl_field_rule.is_primary %>
</p>

<%= link_to 'Edit', edit_etl_object_rule_etl_field_rule_path(@etl_object_rule, @etl_field_rule) %> |
<%= link_to 'Back', etl_object_rule_etl_field_rules_path %>
