<div class="row">
  <div class="small-12 columns dark">
    <h1>Jobs <%= link_to 'New Etl job', new_etl_job_path, class: 'right button inline radius' %></h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Date/Time</th>
          <%
=begin %>
          <th>Extract Results</th>
          <th>Transform Results</th>
          <th>Successfully loaded?</th>
          <th>Errors</th>
          <th>Processing Time</th>
          <%
=end %>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @etl_jobs.each do |etl_job| %>
          <tr>
            <td><%= etl_job.id %></td>
            <td><%= etl_job.created_at.in_time_zone('America/Los_Angeles').strftime('%m/%d/%Y %l:%M%p') %></td>
            <%
=begin %>
            <td><%= etl_job.extract_count %>(<%= link_to('Download', secure_get_path(etl_job.id, 'extract'), {:target => '_blank'}) %>)</td>
            <td><%= etl_job.transform_count %>(<%= link_to('Download', secure_get_path(etl_job.id, 'transform'), {:target => '_blank'}) %>)</td>
            <td><%= etl_job.load_count %>(<%= etl_job.new_sf_users %> new)(<%= link_to('Download', secure_get_path(etl_job.id, 'load'), {:target => '_blank'}) %>)</td>
            <td><%= etl_job.errors_count %></td>
            <td><%= etl_job.duration.round(2) %> seconds</td>
            <td><%= link_to "View Details", etl_job_path(etl_job.id) %></td>            
            <%
=end %>
            <td><%= link_to 'Show', etl_job %></td>
            <td><%= link_to 'Edit', edit_etl_job_path(etl_job) %></td>
            <td><%= link_to 'Destroy', etl_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>