<div class="row">
  <div class="small-12 columns">
    <div class="pan">
      <h3 class="text-center">Object Rules</h3>
        <% @object_rules.each do |rule| %>
        <div class="row">
          <div class="small-12 columns">
            <h3><%= rule.extract_object %> to <%= rule.load_object %><%= link_to  "Edit Fields", object_rule_field_rules_path(object_rule_id: rule.id), class: 'button inline radius right' %></h3>
            <table>
              <% rule.field_rules.each do |field_rule| %>
                <tr class="nested"><td width="200"><%= field_rule.extract_field %></td><td width="200"><%= field_rule.transformation %></td><td width="200"><%= field_rule.load_field %></td></tr>
              <% end %>
            </table>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="small-12 columns text-right">
            <button class="button radius">Edit Object Rules</button>
            <%= link_to  "New Object Rule", new_object_rule_url, class: 'button radius' %>
          </div>
        </div>
    </div>
  </div>
</div>

<style>
  table
  {
    border-color: #ccc;
  }
  td
  {
    border-bottom: 1px solid;
    border-color: inherit;
  }
  th
  {
    border-bottom: 1px solid;
    border-color: #999;
  }
</style>