<div class="row">
	<div class="small-12 columns">
		<div class="small-12 medium-6 columns panel">
			<p>
			  <strong>Extract Object:</strong>
			  <%= @object_rule.extract_object %>
			</p>
			<p>
			  <strong>Load Object:</strong>
			  <%= @object_rule.load_object %>
			</p>
			<p>
			  <strong>Active:</strong>
			  <%= @object_rule.active %>
			</p>
			<p>
			  <strong>Is Primary:</strong>
			  <%= @object_rule.is_primary %>
			</p>
			<%= link_to 'Edit', edit_object_rule_path(@object_rule) %> |
			<%= link_to 'Back', object_rules_path %>
		</div>
		<div class="small-12 medium-6 columns panel">
			<h3>Field Rules</h3>
			<table>
				<% @object_rule.field_rules.each do |field_rule| %>
					<tr><td><%=field_rule.extract_field %></td><td><%=field_rule.load_field %></td></tr>
				<% end %>
			</table>
			<%= link_to 'New ETL Field Rule', new_object_rule_field_rule_path(@object_rule.id) %>
		</div>
	</div>
</div>